### Importa√ß√£o dos dados

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Pre√ßo,Frete,Data da Compra,Vendedor,Local da compra,Avalia√ß√£o da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,Jo√£o Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,Jo√£o Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escrit√≥rio,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [3]:
# C√âLULA 1: PREPARA√á√ÉO ESSENCIAL DE DADOS
import pandas as pd

# Nomes corretos das colunas
colunas_corretas = ['Produto', 'Categoria do Produto', 'Pre√ßo', 'Frete', 'Data da Compra', 'Vendedor', 'Local da compra', 'Avalia√ß√£o da compra', 'Tipo de pagamento', 'Quantidade de parcelas', 'lat', 'lon']

# Renomear colunas e adicionar o identificador de loja
loja.columns = colunas_corretas
loja['Loja'] = 'Loja_1'
loja2.columns = colunas_corretas
loja2['Loja'] = 'Loja_2'
loja3.columns = colunas_corretas
loja3['Loja'] = 'Loja_3'
loja4.columns = colunas_corretas
loja4['Loja'] = 'Loja_4'

# Unificar todos os DataFrames
df_comparativo = pd.concat([loja, loja2, loja3, loja4], ignore_index=True)

# Criar a coluna de Receita Total
df_comparativo['Receita Total'] = df_comparativo['Pre√ßo'] + df_comparativo['Frete']

print("Dados de todas as lojas unificados em 'df_comparativo' com sucesso!")

Dados de todas as lojas unificados em 'df_comparativo' com sucesso!

#1. An√°lise do faturamento

In [4]:
# C√âLULA 2: AN√ÅLISE DA M√âTRICA 1 (Faturamento e Ticket M√©dio)

# Fun√ß√£o de formata√ß√£o para Real Brasileiro
def formatar_brl(valor):
    if pd.isna(valor):
        return '-'
    return f"R$ {valor:,.2f}".replace(",", "X").replace(".", ",").replace("X", ".")

# Agrupar por 'Loja' e calcular o Faturamento Total e o Ticket M√©dio
faturamento_por_loja = df_comparativo.groupby('Loja').agg(
    Faturamento_Total=('Receita Total', 'sum'),
    Ticket_Medio=('Receita Total', 'mean'),
    Total_de_Vendas=('Produto', 'count')
).sort_values(by='Faturamento_Total', ascending=False)

# Aplicar formata√ß√£o
faturamento_por_loja['Faturamento_Total'] = faturamento_por_loja['Faturamento_Total'].apply(formatar_brl)
faturamento_por_loja['Ticket_Medio'] = faturamento_por_loja['Ticket_Medio'].apply(formatar_brl)

# Imprimir o resultado
print("üí∞ M√©trica 1: Comparativo de Faturamento e Ticket M√©dio por Loja")
print("---------------------------------------------------------------")
print(faturamento_por_loja)

üí∞ M√©trica 1: Comparativo de Faturamento e Ticket M√©dio por Loja
---------------------------------------------------------------
       Faturamento_Total Ticket_Medio  Total_de_Vendas
Loja
Loja_1   R$ 1.616.347,09    R$ 685,18             2359
Loja_2   R$ 1.567.773,22    R$ 664,59             2359
Loja_3   R$ 1.542.047,69    R$ 653,69             2359
Loja_4   R$ 1.458.253,46    R$ 618,43             2358

# 2. Vendas por Categoria

In [5]:

# C√âLULA 3: AN√ÅLISE DA M√âTRICA 2 (Vendas por Categoria)

# Agrupar por Loja e por Categoria do Produto, calculando a Receita Total
vendas_por_categoria_comparativo = df_comparativo.groupby(['Loja', 'Categoria do Produto']).agg(
    Receita_Total=('Receita Total', 'sum'),
    Total_de_Vendas=('Produto', 'count')
).reset_index()

# Ordenar por Loja e, em seguida, pela Receita Total (decrescente) para ver as top categorias de cada loja
vendas_por_categoria_comparativo = vendas_por_categoria_comparativo.sort_values(
    by=['Loja', 'Receita_Total'], ascending=[True, False]
)

# Aplicar a fun√ß√£o de formata√ß√£o (assumindo que 'formatar_brl' foi definida anteriormente)
vendas_por_categoria_comparativo['Receita_Total'] = vendas_por_categoria_comparativo['Receita_Total'].apply(formatar_brl)

# Imprimir o resultado
print("üõçÔ∏è M√©trica 2: Comparativo de Vendas por Categoria (Receita e Quantidade)")
print("----------------------------------------------------------------------")
print(vendas_por_categoria_comparativo)

üõçÔ∏è M√©trica 2: Comparativo de Vendas por Categoria (Receita e Quantidade)
----------------------------------------------------------------------
      Loja   Categoria do Produto  Receita_Total  Total_de_Vendas
2   Loja_1            eletronicos  R$ 603.278,24              448
1   Loja_1       eletrodomesticos  R$ 510.678,32              312
6   Loja_1                 moveis  R$ 263.505,32              465
4   Loja_1  instrumentos musicais  R$ 128.243,50              182
3   Loja_1        esporte e lazer   R$ 55.216,66              284
0   Loja_1             brinquedos   R$ 25.299,27              324
7   Loja_1  utilidades domesticas   R$ 17.789,38              171
5   Loja_1                 livros   R$ 12.336,41              173
10  Loja_2            eletronicos  R$ 576.858,27              422
9   Loja_2       eletrodomesticos  R$ 489.499,13              305
14  Loja_2                 moveis  R$ 247.817,05              442
12  Loja_2  instrumentos musicais  R$ 147.397,09              224
11  Loja_2        esporte e lazer   R$ 48.828,90              275
8   Loja_2             brinquedos   R$ 22.445,83              313
15  Loja_2  utilidades domesticas   R$ 20.731,11              181
13  Loja_2                 livros   R$ 14.195,84              197
18  Loja_3            eletronicos  R$ 576.840,39              451
17  Loja_3       eletrodomesticos  R$ 462.310,46              278
22  Loja_3                 moveis  R$ 282.475,23              499
20  Loja_3  instrumentos musicais  R$ 108.652,54              177
19  Loja_3        esporte e lazer   R$ 50.020,62              277
16  Loja_3             brinquedos   R$ 27.258,60              315
23  Loja_3  utilidades domesticas   R$ 21.163,47              177
21  Loja_3                 livros   R$ 13.326,38              185
26  Loja_4            eletronicos  R$ 575.071,18              451
25  Loja_4       eletrodomesticos  R$ 397.710,75              254
30  Loja_4                 moveis  R$ 270.352,16              480
28  Loja_4  instrumentos musicais  R$ 105.408,35              170
27  Loja_4        esporte e lazer   R$ 46.825,77              277
24  Loja_4             brinquedos   R$ 28.498,67              338
31  Loja_4  utilidades domesticas   R$ 21.237,76              201
29  Loja_4                 livros   R$ 13.148,81              187

# 3. M√©dia de Avalia√ß√£o das Lojas

In [6]:
# C√âLULA 4: AN√ÅLISE DA M√âTRICA 3 (M√©dia de Avalia√ß√£o das Lojas)

# Agrupar por 'Loja' e calcular a m√©dia da Avalia√ß√£o
avaliacao_por_loja = df_comparativo.groupby('Loja').agg(
    Media_Avaliacao=('Avalia√ß√£o da compra', 'mean'),
    Total_Avaliacoes=('Avalia√ß√£o da compra', 'count')
).sort_values(by='Media_Avaliacao', ascending=False)

# Aplicar formata√ß√£o para duas casas decimais
avaliacao_por_loja['Media_Avaliacao'] = avaliacao_por_loja['Media_Avaliacao'].apply(lambda x: f'{x:.2f}')

# Imprimir o resultado
print("‚≠ê M√©trica 3: Comparativo da M√©dia de Avalia√ß√£o das Lojas")
print("----------------------------------------------------------")
print(avaliacao_por_loja)

‚≠ê M√©trica 3: Comparativo da M√©dia de Avalia√ß√£o das Lojas
----------------------------------------------------------
       Media_Avaliacao  Total_Avaliacoes
Loja
Loja_3            4.05              2359
Loja_2            4.04              2359
Loja_4            4.00              2358
Loja_1            3.98              2359

# 4. Produtos Mais e Menos Vendidos

In [8]:
# C√âLULA 5: AN√ÅLISE DA M√âTRICA 4 (Produtos Mais e Menos Vendidos)

print("üì¶ M√©trica 4: Produtos Mais e Menos Vendidos (por Quantidade)")
print("----------------------------------------------------------------------")

# Loop para analisar cada loja separadamente
for loja_nome in df_comparativo['Loja'].unique():
    # Filtra o DataFrame para a loja atual
    df_loja = df_comparativo[df_comparativo['Loja'] == loja_nome]

    # Conta a frequ√™ncia de cada produto na loja
    vendas_por_produto_loja = df_loja['Produto'].value_counts()

    # ----------------------------------------------------
    # Top 3 Mais Vendidos
    top_3_mais_vendidos = vendas_por_produto_loja.head(3)

    # ----------------------------------------------------
    # Top 3 Menos Vendidos (Produtos com menor volume, pode ser 1 venda)
    # Ordena pelo volume crescente e pega os 3 primeiros
    top_3_menos_vendidos = vendas_por_produto_loja.tail(3).sort_values(ascending=True)

    # Imprimir os resultados para a loja atual
    print(f"\n--- {loja_nome} ---")

    print("\n   üìà Top 3 Produtos Mais Vendidos:")
    print(top_3_mais_vendidos)

    print("\n   üìâ Top 3 Produtos Menos Vendidos:")
    print(top_3_menos_vendidos)

print("\n----------------------------------------------------------------------")

üì¶ M√©trica 4: Produtos Mais e Menos Vendidos (por Quantidade)
----------------------------------------------------------------------

--- Loja_1 ---

   üìà Top 3 Produtos Mais Vendidos:
Produto
Micro-ondas      60
TV Led UHD 4K    60
Guarda roupas    60
Name: count, dtype: int64

   üìâ Top 3 Produtos Menos Vendidos:
Produto
Headset              33
Celular ABXY         33
Panela de press√£o    35
Name: count, dtype: int64

--- Loja_2 ---

   üìà Top 3 Produtos Mais Vendidos:
Produto
Iniciando em programa√ß√£o    65
Micro-ondas                 62
Bateria                     61
Name: count, dtype: int64

   üìâ Top 3 Produtos Menos Vendidos:
Produto
Jogo de tabuleiro    32
Mesa de jantar       34
Impressora           34
Name: count, dtype: int64

--- Loja_3 ---

   üìà Top 3 Produtos Mais Vendidos:
Produto
Kit banquetas     57
Mesa de jantar    56
Cama king         56
Name: count, dtype: int64

   üìâ Top 3 Produtos Menos Vendidos:
Produto
Blocos de montar    35
Mochila             36
Micro-ondas         36
Name: count, dtype: int64

--- Loja_4 ---

   üìà Top 3 Produtos Mais Vendidos:
Produto
Cama box                   62
Faqueiro                   59
Dashboards com Power BI    56
Name: count, dtype: int64

   üìâ Top 3 Produtos Menos Vendidos:
Produto
Guitarra         33
Guarda roupas    34
Viol√£o           37
Name: count, dtype: int64

----------------------------------------------------------------------

# 5. Frete M√©dio por Loja

In [9]:
# C√âLULA 6: AN√ÅLISE DA M√âTRICA 5 (Frete M√©dio por Loja)

# Agrupar por 'Loja' e calcular a m√©dia do Frete
frete_por_loja = df_comparativo.groupby('Loja')['Frete'].mean().reset_index()
frete_por_loja.rename(columns={'Frete': 'Frete_Medio'}, inplace=True)
frete_por_loja = frete_por_loja.sort_values(by='Frete_Medio', ascending=False)

# Aplicar a fun√ß√£o de formata√ß√£o (assumindo que 'formatar_brl' foi definida anteriormente)
frete_por_loja['Frete_Medio'] = frete_por_loja['Frete_Medio'].apply(formatar_brl)

# Imprimir o resultado
print("üöö M√©trica 5: Comparativo do Frete M√©dio por Loja")
print("--------------------------------------------------")
print(frete_por_loja)

üöö M√©trica 5: Comparativo do Frete M√©dio por Loja
--------------------------------------------------
     Loja Frete_Medio
0  Loja_1    R$ 34,69
1  Loja_2    R$ 33,62
2  Loja_3    R$ 33,07
3  Loja_4    R$ 31,28

# 6. Resumo e Conclu√ß√£o: Tabela Resumo Final de Desempenho

In [10]:
# C√âLULA 7: TABELA RESUMO FINAL DE DESEMPENHO

# 1. Agrupar e calcular as m√©tricas chaves
tabela_resumo = df_comparativo.groupby('Loja').agg(
    Faturamento_Total=('Receita Total', 'sum'),
    Ticket_Medio=('Receita Total', 'mean'),
    Avaliacao_Media=('Avalia√ß√£o da compra', 'mean'),
    Frete_Medio=('Frete', 'mean'),
    Total_de_Vendas=('Produto', 'count')
).sort_values(by='Faturamento_Total', ascending=False)

# 2. Aplicar formata√ß√£o para melhor visualiza√ß√£o
tabela_resumo['Faturamento_Total'] = tabela_resumo['Faturamento_Total'].apply(formatar_brl)
tabela_resumo['Ticket_Medio'] = tabela_resumo['Ticket_Medio'].apply(formatar_brl)
tabela_resumo['Frete_Medio'] = tabela_resumo['Frete_Medio'].apply(formatar_brl)
tabela_resumo['Avaliacao_Media'] = tabela_resumo['Avaliacao_Media'].apply(lambda x: f'{x:.2f}')

# 3. Imprimir a tabela e a recomenda√ß√£o

print("===============================================================")
print("  RESUMO COMPARATIVO FINAL PARA DECIS√ÉO DE VENDA (5 M√©tricas)")
print("===============================================================")
print(tabela_resumo)
print("===============================================================")

# 4. Gera√ß√£o da Recomenda√ß√£o de Venda (Baseada em Desempenho)

# Encontra a loja com o menor faturamento
pior_faturamento = df_comparativo.groupby('Loja')['Receita Total'].sum().idxmin()

# Encontra a loja com a pior avalia√ß√£o
pior_avaliacao = df_comparativo.groupby('Loja')['Avalia√ß√£o da compra'].mean().idxmin()

# Encontra a loja com o frete m√©dio mais alto (maior custo)
maior_custo_frete = df_comparativo.groupby('Loja')['Frete'].mean().idxmax()


print("\nüí° RECOMENDA√á√ÉO BASEADA NOS DADOS:")
print("-----------------------------------")

if pior_faturamento == pior_avaliacao:
    print(f"A **{pior_faturamento}** √© a principal candidata √† venda.")
    print(f"Motivo: Ela apresenta o pior faturamento total e a pior m√©dia de avalia√ß√£o de clientes, combinando baixo retorno financeiro e alto risco de reputa√ß√£o.")
elif pior_faturamento == maior_custo_frete:
    print(f"A **{pior_faturamento}** √© a principal candidata √† venda.")
    print(f"Motivo: Ela apresenta o pior faturamento total e o maior custo de frete, indicando baixo retorno financeiro e alta inefici√™ncia log√≠stica.")
else:
    print(f"A loja com o **Pior Desempenho Financeiro** √© a **{pior_faturamento}**.")
    print(f"A loja com a **Pior Satisfa√ß√£o do Cliente** √© a **{pior_avaliacao}**.")
    print(f"\nRecomenda√ß√£o: Avaliar se a **{pior_faturamento}** (menor faturamento) √© a melhor op√ß√£o, a menos que a {pior_avaliacao} tenha custos de revers√£o de reputa√ß√£o insustent√°veis.")

print("-----------------------------------")

===============================================================
  RESUMO COMPARATIVO FINAL PARA DECIS√ÉO DE VENDA (5 M√©tricas)
===============================================================
       Faturamento_Total Ticket_Medio Avaliacao_Media Frete_Medio  \
Loja
Loja_1   R$ 1.616.347,09    R$ 685,18            3.98    R$ 34,69
Loja_2   R$ 1.567.773,22    R$ 664,59            4.04    R$ 33,62
Loja_3   R$ 1.542.047,69    R$ 653,69            4.05    R$ 33,07
Loja_4   R$ 1.458.253,46    R$ 618,43            4.00    R$ 31,28

        Total_de_Vendas
Loja
Loja_1             2359
Loja_2             2359
Loja_3             2359
Loja_4             2358
===============================================================

üí° RECOMENDA√á√ÉO BASEADA NOS DADOS:
-----------------------------------
A loja com o **Pior Desempenho Financeiro** √© a **Loja_4**.
A loja com a **Pior Satisfa√ß√£o do Cliente** √© a **Loja_1**.

Recomenda√ß√£o: Avaliar se a **Loja_4** (menor faturamento) √© a melhor op√ß√£o, a menos que a Loja_1 tenha custos de revers√£o de reputa√ß√£o insustent√°veis.
-----------------------------------